# Composer
/vendor/
composer.lock

# WordPress core (if present)
wp/
wp-admin/
wp-includes/
readme.html

# WP content
wp-content/uploads/
wp-content/jetpack-waf/
wp-content/cache/
wp-content/upgrade/
wp-content/plugins/
wp-cron.php
wp-links-opml.php
wp-load.php
license.txt
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-config-sample.php
wp-activate.php



# Build / distribution
dist/
build/
*.zip
*.tar.gz
*.rar

# Logs & env
.env
*.log
debug.log

# OS & editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Temp / backups
*.bak
*.tmp
*.swp
